{% extends "lizard_map/wms.html" %}

{% block sidebar %}
  <form method="get"
        class="form-vertical"
        autocomplete="off"
        id="ocean-form"
        action=".">
    {# Temp note for Reinout: look at lizard-wms' filterpage for example code #}
    <h2>
      <label class="checkbox">
        <input type="checkbox"
               name="Boeien"
               value="boeien"
               />
        Boeien
      </label>
    </h2>

    <fieldset>
      <label class="radio">
        <input type="radio"
               name="selected_buoy"
               value="Param 1"
               disabled
               />
        Param1
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_buoy"
               value="Param 2"
               disabled
               />
        Param2
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_buoy"
               value="Param 3"
               checked
               disabled
               />
        Param3
      </label>
    </fieldset>

    <h2>
      <label class="checkbox">
        <input type="checkbox"
               name="Forecasts"
               value="forecasts"
               />
        Forecasts
      </label>
    </h2>

    <fieldset>
      <label class="radio">
        <input type="radio"
               name="selected_gridpoint"
               value="Param 1"
               checked
               disabled
               />
        Param1
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_gridpoint"
               value="Param 2"
               disabled
               />
        Param2
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_gridpoint"
               value="Param 3"
               disabled
               />
        Param3
      </label>
    </fieldset>

    <h2>
      <label class="checkbox">
        <input type="checkbox"
               name="Raster"
               value="Raster"
               checked
               />
        Raster
      </label>
    </h2>

    <fieldset>
      <label class="radio">
        <input type="radio"
               name="selected_raster"
               value="Param 1"
               />
        Param1
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_raster"
               value="Param 2"
               checked
               />
        Param2
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_raster"
               value="Param 3"
               />
        Param3
      </label>
    </fieldset>

    <h2>
      Zoomlevel
    </h2>

    <fieldset>
      <label class="radio">
        <input type="radio"
               name="selected_zoomlevel"
               value="Param 1"
               checked
               />
        Abu Dhabi
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_zoomlevel"
               value="Param 3"
               />
        Region
      </label>
    </fieldset>

  </form>
{% endblock %}
