{% extends "lizard_map/wms.html" %}

{% block sidebar %}
  {% for point_file in view.point_files %}
    <h2>{{ point_file.name }}</h2>
    {% for workspace_acceptable in point_file.workspace_acceptables %}
      {{ workspace_acceptable.to_html }}
    {% endfor %}
    <br />
  {% endfor %}


  <form method="get"
        class="form-vertical"
        autocomplete="off"
        id="ocean-form"
        action=".">
    {# Temp note for Reinout: look at lizard-wms' filterpage for example code #}

    <h2>
      <label class="checkbox">
        <input type="checkbox"
               name="Raster"
               value="Raster"
               checked
               />
        Raster
      </label>
    </h2>

    <fieldset>
      <label class="radio">
        <input type="radio"
               name="selected_raster"
               value="Param 1"
               />
        Param1
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_raster"
               value="Param 2"
               checked
               />
        Param2
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_raster"
               value="Param 3"
               />
        Param3
      </label>
    </fieldset>

    <h2>
      Zoomlevel
    </h2>

    <fieldset>
      <label class="radio">
        <input type="radio"
               name="selected_zoomlevel"
               value="Param 1"
               checked
               />
        Abu Dhabi
      </label>
      <label class="radio">
        <input type="radio"
               name="selected_zoomlevel"
               value="Param 3"
               />
        Region
      </label>
    </fieldset>

  </form>
  
  {% if user.is_superuser %}
    <hr />
    <p>Admin-only debug pages:</p>
    <ul>
      <li>
        <a href="{% url ocean_netcdf %}">Netcdf info</a>
      </li>
    </ul>
  {% endif %}

{% endblock %}
