{% extends "lizard_map/wms.html" %}
{% load i18n staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{% static 'lizard_ocean/lizard_ocean.css' %}"
        type="text/css"
        media="screen, projection" />
{% endblock css %}

{% block map-javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL  }}lizard_ocean/lizard_ocean.js"></script>
{% endblock map-javascript %}

{% block date-ranges %}
            '{% trans "Past day" %}': [
                moment.utc().subtract('days', 1),
                moment.utc(),
                'today'
            ],
            '{% trans "Past 2 days" %}': [
                moment.utc().subtract('days', 2),
                moment.utc(),
                '2_day'
            ],
            '{% trans "Past week" %}': [
                moment.utc().subtract('weeks', 1),
                moment.utc(),
                'week'
            ],
            '{% trans "Past month" %}': [
                moment.utc().subtract('months', 1),
                moment.utc(),
                'month'
            ],
            '{% trans "Past six months" %}': [
                moment.utc().subtract('months', 6),
                moment.utc(),
                '6_month'
            ],
            '{% trans "Past year" %}': [
                moment.utc().subtract('years', 1),
                moment.utc(),
                'year'
            ]
{% endblock date-ranges %}

{% block content-actions %}
  {{ block.super }}
  <ul class="nav pull-right">
    <li>
      <button id="start-stop-button" class="btn btn-info"><i class="icon-play"></i></button>
    </li>
    <li>
      <div id="frame-slider"></div>
    </li>
    <li>
      <div id="current-frame-index-label">&nbsp;</div>
    </li>
    <li>
      <div id="progress-bar" class="progress">
        <div class="bar" style="width: 0%;"></div>
      </div>
    </li>
  </ul>
{% endblock content-actions %}

{% block breadcrumbs %}
  {{ block.super }}
{% endblock breadcrumbs %}

{% block sidebar %}
  {% for point_file in view.point_files %}
    <h2>{{ point_file.name }}</h2>
    {% for workspace_acceptable in point_file.workspace_acceptables %}
      {{ workspace_acceptable.to_html }}
    {% endfor %}
    <br />
  {% endfor %}

  <h2>Map data</h2>
  {% for workspace_acceptable in view.raster_sets %}
    {{ workspace_acceptable.to_html }}
  {% endfor %}

  {% if user.is_superuser %}
    <hr />
    <p>Admin-only debug pages:</p>
    <ul>
      <li>
        <a href="{% url ocean_netcdf %}">Netcdf info</a>
      </li>
    </ul>
  {% endif %}

  <br />
  <div>
    <img src="{% static 'lizard_ocean/abudhabi_gov_logo.gif' %}"
         alt="Abu Dhabi logo" />
  </div>
  <div>
    <img src="{% static 'lizard_ocean/logo_adm.gif' %}"
         alt="Abu Dhabi logo" />
  </div>
  <div>
    <img src="{% static 'lizard_ocean/deltares_logo.gif' %}"
         alt="Abu Dhabi logo" />
  </div>

{% endblock %}
