{% extends "lizard_ui/lizardbase.html" %}

{% block content %}
  <div id="textual">
    <h1>Netcdf debug overview</h1>

    {% for netcdf_file in view.netcdf_files %}
      <h2>{{ netcdf_file.filename }}</h2>
      <dl>
        <dt>Filename</dt>
        <dd>{{ netcdf_file.filename }}</dd>
        <dt>Number of stations</dt>
        <dd>{{ netcdf_file.locations|length }}</dd>
      </dl>
      <table class="table table-striped">
        <thead>
          <tr>
            {% for heading in netcdf_file.headings %}
              <th>{{ heading }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in netcdf_file.rows %}
            <tr>
              {% for cell in row %}
                <td>{{ cell }}</td>
              {% endfor %}                
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <h2>Parameters</h2>
      <ul>
        {% for parameter in netcdf_file.parameters %}
          <li>
            {{ parameter.name }} 
            (unit: {{ parameter.unit }}, 
            id: {{ parameter.id}})
          </li>
        {% endfor %}
      </ul>

      <h2>Timestamps</h2>
      <dl>
        <dt>Number of timestamps</dt>
        <dd>{{ netcdf_file.timestamps|length }}</dd>
        <dt>First one:</dt>
        <dd>{{ netcdf_file.timestamps|first }}</dd>
        <dt>Last one:</dt>
        <dd>{{ netcdf_file.timestamps|last }}</dd>
      </dl>

      <h2>Values</h2>
      <dl>
        <dt>Sample parameter</dt>
        <dd>{{ netcdf_file.sample_parameter }}</dd>
        <dt>Sample station index</dt>
        <dd>{{ netcdf_file.sample_station_index }}</dd>
        <dt>Values</dt>
        <dd>
          {% for value in netcdf_file.sample_values %}
            {{ value }}<br />
          {% endfor %}
        </dd>
      </dl>

    {% endfor %}


  </div>
{% endblock content %}
